name: Expo EAS Build

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: TimeFlow/timeflow
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Install Expo & EAS
        run: |
          npm install -g expo-cli eas-cli
